<!doctype html>
<head>
<meta charset="utf-8" />
<title>start here.</title>
</head>
<body>
    <h1>Login here.</h1>
    <% if (message) { %>
      <%= message %>
    <% } %>
    <form action="/login" method="POST">
        <div>
          <span>User ID</span>
          <span><input type="text" name="userid" id="userid" /></span>
        </div>
        <div>
          <span>password</span>
          <span><input type="password" name="password" id="password" /></span>
        </div>
        <div>
          <span>if u don't have userid, then u check -&gt;</span>
          <span><button type="submit">login</button></span>
        </div>
    </form>
</body>